.window-content {
  background: url('#{$assets}/paper-v2.webp');
}

.section--sidebar {
  flex: 0 0 260px;
}

.section--main {
  flex: 1;
}

img[data-edit="img"] {
  cursor: pointer;
}

.editor-wrapper {
  display: flex;
  height: 100%;
  min-height: 120px;
}

.editor,
.editor-content {
  flex: 1;
  min-height: 30px;
}

.tox-tinymce,
.tox-editor-container,
.tox-sidebar-wrap,
.tox-edit-area {
  min-height: 170px;
  height: 100% !important;
}

.tox-tinymce {
  height: 100% !important;

  .tox-toolbar-overlord,
  .tox-toolbar__primary {
    background: transparent;
    border-bottom: 1px solid $c-black;
  }

  button {
    font-size: 12px;
    padding: 0;
    border: 0;
    background: transparent;
    margin: 0;
    width: auto;
    height: auto;
  }

  button[title="Formats"],
  button[title="Table"],
  button[title="Horizontal line"],
  button[title="Insert/edit link"] {
    display: none;
  }
}