// Bandaid fixes to make small window sizes more palatable.
@container archmage-window-content (max-width: #{$cq-tablet}) {
  .archmage-v2.sheet {
    .window-content {
      .unit--attributes {
        zoom: 80%;
      }

      .tab.abilities {
        flex: 0 0 200px;
      }
      .section--sidebar {
        zoom: 80%;
      }

      .section--resources {
        zoom: 90%;
      }

      .tabs {
        zoom: 80%;
      }
    }
  }
}

// Mobile layout.
@container archmage-window-content (max-width: #{$cq-mobile}) {
  .archmage-v2.sheet {
    .window-content {
      // Undo the tablet styles. ------------------------
      .unit--attributes,
      .section--resources,
      .tabs,
      .section--sidebar {
        zoom: 100%;
      }

      .tab.abilities {
        flex: 1;
      }
      // End the tablet styles section ------------------

      .archmage-vue {
        height: 100%;
        overflow-y: auto;
        scrollbar-color: $c-blue transparent;
        scrollbar-width: thin;
      }

      .archmage-v2-vue {
        height: auto;
        flex: 0 0 auto;
        min-height: 100%;

        .section--attributes,
        .section--sidebar,
        .section--resources,
        .section--tabs-content {
          background: $c-white--25;
          border: 1px solid $c-black--25;
          border-radius: 4px;
          padding: 10px;
          margin: 10px 0;
        }

        .section--resources {
          &::after {
            display: none;
          }
        }

        &.nightmode {
          .section--attributes,
          .section--sidebar,
          .section--resources,
          .section--tabs-content {
            background: $c-black--25;
            border: 1px solid $c-white--25;
          }
        }

        .section--tabs-mobile {
          display: block;
          position: relative;
  
          &:hover {
            .tabs--mobile {
              display: flex;
            }
          }
        }
  
        .sheet-tabs-toggle--mobile {
          width: 100%;
          height: 44px;
        }
  
        .tabs--mobile {
          display: none;
          border: none;
          position: absolute;
          top: auto;
          right: 0;
          background-color: $c-blue;
          z-index: 99;
          flex-direction: column;
          justify-content: stretch;
          align-items: flex-start;
          padding: 0;
          margin: 0 !important;
  
          &.active {
            display: flex;
          }
  
          > span {
            width: 100%;
            
            .tab-link {
              flex: 1;
              color: $c-white--50;
              background: transparent;
  
              &.active,
              &:hover,
              &:focus {
                color: $c-white;  
              }
  
              &:hover {
                background-color: $c-white--25;
              }
            }
          }
        }
  
        .tab[data-tab][data-group="mobile"] {
          display: none;
  
          &.active {
            display: block;
          }
        }
  
        .container--top {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
  
          .character-header {
            flex: 1;
            order: 1;
            grid-template-columns: repeat(6, minmax(0, 1fr));

            label {
              opacity: 0.25;
            }
  
            .unit--name {
              grid-column-start: 1;
              grid-column-end: span 4;
            }
  
            .unit--race { grid-column-end: span 3; }
            .unit--class { grid-column-end: span 3; }
            .unit--level { 
              grid-column-start: 5;
              grid-row-start: 1;
              grid-column-end: span 2; 
            }
          }
  
          .section--tabs-mobile {
            flex: 0 0 44px;
            margin-left: 10px;
            order: 2;
          }
  
          .tab.attributes {
            flex: 100%;
            order: 3;
          }
  
          .section--attributes {
            flex-direction: column;
          }
  
          .unit--attributes {
            grid-template-columns: repeat(6, minmax(0, 1fr));
            padding-bottom: 0;

            &::after {
              top: calc(50% + 6px);
            }
  
            .unit {
              grid-column-end: span 2;
            }
          }
  
          .unit--saves {
            grid-column-start: 2;
          }
        }
  
        .tabs--primary {
          .tab-link {
            font-size: 16px;
            padding: 4px 6px;
            margin: 2px;
          }
        }
  
        .container--bottom {
          flex-direction: column;
  
          .section--sidebar,
          .section--main {
            height: auto;
            width: 100%;
            overflow-x: visible;
            overflow-y: visible;
            flex: 1;
          }
  
          .section--resources {
            // display: flex;
            // flex-direction: row;
            // flex-wrap: wrap;
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
  
            .unit {
              max-width: none;
              margin: 8px 0;
              border-left: none;
            }
  
            .resource-divider {
              display: none;
            }
          }
  
          // Space is at a premium on mobile. Hide feats, recharge, and search.
          .filter-search-powers {
            display: none;
          }
  
          .power-grid {
            grid-template-columns: 32px auto 0px 44px 0px 36px 64px;
  
            .power-recharge,
            .power-feat-pips {
              display: none;
            }
          }
  
          .equipment-grid {
            grid-template-columns: 32px auto 36px 0px 0px 0px 36px 56px;
  
            .equipment-feat-pips,
            .equipment-bonus,
            .equipment-chakra,
            .equipment-recharge {
              display: none;
            }
          }
  
          .sheet-settings {
            grid-template-columns: repeat(1, minmax(0, 1fr));
          }
        }

        &.character {
          .unit--saves {
            &::before {
              display: none !important;
            }
          }
        }
      }

    } // end
  }

  .archmage-v2.sheet.npc-sheet {
    .window-content {
      .container--top {
        display: flex;
        flex-direction: column;

        .unit--attributes {
          grid-template-columns: repeat(4, minmax(0, 1fr));
          zoom: 80%;

          &::before {
            display: none;
          }

          &::after {
            top: 50%;
            left: 1px;
          }

          .unit {
            grid-column-end: span 1;
          }
        }

        .unit--saves,
        .unit--disengage {
          grid-column-start: auto;
          position: relative;
        }
      }

      .unit--roles {
        flex-direction: column;
      }

      .section--main {
        flex-direction: column;
      }
  
      .section--resources {
        align-items: flex-center;
        justify-content: flex-center;
  
        .unit {
          padding: 10px;
          border: none !important;
        }
  
        .resource-divider {
          display: none;
        }
      }
    }
  }
}

@container archmage-window-content (max-width: #{$cq-tiny}) {
  .archmage-v2.sheet {
    .window-content {
      .archmage-v2-vue.npc {
        .container--top {
          .unit--attributes {
            grid-template-columns: repeat(2, minmax(0, 1fr));
          }

          .unit--saves {
            &::before {
              display: none;
            }
          }
        }
      }
    }
  }
}