// Insert scss here.
.icon-background {
  &.great-gold-wyrm {
    background: url('https://picsum.photos/100/200') no-repeat center;
    background-size: contain;
  }

  .title,
  .content {
    margin: 0;
    padding: 12px;
    background: rgba(255,255,255, 0.8);
  }
}