.archmage-appv2 {
  max-height: 90vh;

  @import 'base/textarea-grow';

  --input-background-color: var(--color-cool-4);
  --input-border-color: transparent;
  --input-text-color: var(--color-light-3);
  --input-placeholder-color: var(--color-light-4);
  --input-focus-outline-color: var(--color-cool-3);

  .theme-light & {
    --input-background-color: rgba(0, 0, 0, 0.1);
    --input-border-color: var(--color-dark-6);
    --input-text-color: var(--color-dark-2);
    --input-placeholder-color: var(--color-dark-3);
    --input-focus-outline-color: var(--color-warm-2);

    .window-content {
      background: url('#{$assets}/paper-v2.webp');
      background-size: cover;
    }
  }

  h2 {
    color: $c-black;
    text-shadow: none;

    .theme-dark & {
      color: $c-white;
    }
  }

  .window-content,
  .archmage-appv2-vue {
    height: 100%;
    flex: 1;
    overflow: hidden;

    > .tab {
      height: 100%;
      flex: 1;
      overflow-y: auto;
    }
  }

  // fixes a weird bug with form heights in fieldsets
  fieldset > * {
    flex: 0 0 auto;
  }

  // @todo figure out how to fix this hack properly.
  .window-content {
    margin-top: -16px;
  }

  .form-group textarea,
  .form-group .grow-wrap > textarea {
    background: var(--input-background-color);
    border: 1px solid var(--input-border-color);
    color: var(--input-text-color);
    border-radius: 4px;
    padding: 0.5rem;
    flex: 2;
    max-width: none;
    transition: outline-color 0.5s;
    outline: 1px solid transparent;

    &:hover,
    &:focus {
      background: var(--input-background-color);
    }

    &:focus {
      outline: 2px solid var(--input-focus-outline-color);
      box-shadow: 0 0 5px var(--color-shadow-primary);
    }
  }

  .form-group .grow-wrap::after {
    padding: 0.5rem;
  }

  .standard-form {
    .form-group {
      > label {
        line-height: 1.2;
      }
    }
  }

  .form-group {
    label {
      position: relative;

      .info-bubble {
        position: absolute;
      }
    }
  }

  .flexrow > .flexshrink {
    flex: 0;
  }

  .field.flexrow {
    .flexshrink {
      flex: 0;
    }

    .checkbox-disable {
      &::before {
        color: $c-blue;
        content: '\f00c';
      }
      &::after {
        content: '';
      }

      &:checked {
        &::before {
          content: '';
        }
        &::after {
          color: $c-progress-dire;
          content: "\f00d\f00d";
        }
      }
    }
  }

  .field.flexcol {
    gap: 8px;
  }
  
  .power.include-title {
    .power-summary,
    .power-header-labels {
      min-height: 32px;
      grid-template-columns: 0 auto 0 0 0 0 0 !important;
    }
  }

  .power-detail {
    margin: 6px 0;
  }

  .expression {
    .theme-dark & {
      color: $c-fail;
    }
  }

  .section--main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 1;
    overflow: hidden;

    .section--fields {
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      &.has-preview {
        flex: 0 0 440px;
      }

      .tab {
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
      }
    }

    .section--preview {
      flex: 1;
      overflow-x: hidden;
      overflow-y: auto;
      // border: 1px solid;
      // border-radius: 4px;
      margin-left: 16px;
    }
  }

  nav.tabs {
    flex-wrap: wrap;
    gap: 0;
  }

  prose-mirror {
    height: auto !important;
    min-height: 36px;
    background: var(--input-background-color);
    border-radius: 4px;

    &.active {
      background: transparent;
      min-height: 200px;

      .editor-container {
        border: 1px solid;
        border-color: var(--input-background-color);
        border-radius: 4px;
      }
    }
  }

  .section--effects {
    .effects-grid {
      grid-template-columns: 40px auto 160px 0px 60px !important;
    }
  }

  .feat-actions {
    .operations {
      display: flex;
      justify-content: flex-end;

      .feat-action {
        flex: 0 0 18px;
        text-align: center;
      }

      .feat-create {
        flex: 1;
        text-align: right;
      }
    }
  }

  .item-roll {
    display: flex;
    flex-direction: center;
    align-items: center;
    line-height: 1;
    text-align: center;
    font-size: 18px;
    margin-right: 8px;

    i {
      margin: 0;
    }
  }

  .fieldset-feats {
    details[open] {
      .feat-summary {
        display: none;
      }
    }
  }

  .fieldset-attack {
    gap: 4px;

    p {
      margin: 4px 0;
    }

    > fieldset {
      gap: 4px;
    }
  }

  .info-bubble {
    color: var(--color-warm-1);
    margin-left: 4px;

    .theme-light & {
      color: $c-black;
    }
  }

  ::placeholder {
    opacity: 0.25;
  }

  .theme-light & {
    ::placeholder {
      opacity: 0.4;
    }
  }
}