.DS_Store
._*
/node_modules
/dist
/public
/systems
/packs/dist/*
/css/*
/archmage/
/archmage.zip
.vscode/*
.idea
dist/vue-components.min.js
foundry.js
jsconfig.json
archmage.lock
src/vue/foundry-shim
system.json
template.json
*.log
