<div>
		<fieldset>
			<legend>Level</legend>
			<input autofocus type="number" name="level" min="0" max="14" value="1" />
		</fieldset>

		<fieldset />
			<legend>Strength</legend>
			<label class="flexrow" style="gap: 0.5rem;">
				<input type="radio" style="flex-grow: 0;" name="strength" value="normal" checked /> {{localize 'ARCHMAGE.CREATURESTRENGTHS.normal'}}
			</label>
			<label class="flexrow" style="gap: 0.5rem;">
				<input type="radio" style="flex-grow: 0;" name="strength" value="mook" /> {{localize 'ARCHMAGE.CREATUREROLES.mook'}}
			</label>
			<label class="flexrow" style="gap: 0.5rem;">
				<input type="radio" style="flex-grow: 0;" name="strength" value="weakling" /> {{localize 'ARCHMAGE.CREATURESTRENGTHS.weakling'}}
			</label>
			<label class="flexrow" style="gap: 0.5rem;">
				<input type="radio" style="flex-grow: 0;" name="strength" value="elite" /> {{localize 'ARCHMAGE.CREATURESTRENGTHS.elite'}}
			</label>
			<label class="flexrow" style="gap: 0.5rem;">
				<input type="radio" style="flex-grow: 0;" name="strength" value="double" /> {{localize 'ARCHMAGE.CREATURESTRENGTHS.double-strength'}}
			</label>
			<label class="flexrow" style="gap: 0.5rem;">
				<input type="radio" style="flex-grow: 0;" name="strength" value="triple" /> {{localize 'ARCHMAGE.CREATURESTRENGTHS.triple-strength'}}
			</label>
		</fieldset>
</div>
