.container--top {
  @include borderBottom;
  @include borderWide;
  margin-bottom: 18px;

  h1 {
    margin: 0;
  }
}

.container--bottom {
  .filters {
    align-items: flex-start;
    justify-content: flex-start;

    > .unit {
      flex: 0 auto;
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
    }

    input {
      text-align: left;
    }
  }

  .pager {

    button {
      background: $c-gray--25;
      color: $c-black;
      border: none;

      &:hover,
      &:focus {
        color: $c-blue;
        background: $c-white;
      }
    }
  }

  .compendium-browser-results {
    margin: 0;
    padding: 0;
  }

  .compendium-browser-row {
    flex-wrap: nowrap;
    border-bottom: 1px solid #999;
    padding: 0 2px;
    cursor: pointer;

    img {
      flex: 0 auto;
      width: 50px;
      height: 50px;
      border: none;
      margin-right: 5px;
    }

    .grid {
      grid-row-gap: 0;
      margin: 0;
    }

    .equipment-grid {
      grid-template-columns: 32px auto 160px 60px 60px;
    }

    .equipment-title {
      text-align: left;
      justify-content: flex-start;
    }

    .equipment-bonus {
      grid-column-start: 3;
    }

    .equipment-chakra {
      grid-column-start: 4;
    }

    .equipment-recharge {
      grid-column-start: 5;
    }
  }
}

// Override ranger slider styles.
.slider-wrapper {
  width: 227px;
  padding: 0 10px 0 20px;
}

.level-range {
  align-items: center;
}

.level-label {
  flex: 0 auto;
}
