.archmage-settings {
  .border {
    font-family: $font-stack-secondary;
    font-size: 28px;
  }

  details {
    border: 1px solid var(--color-fieldset-border);
    padding: 4px;
    border-radius: 2px;

    summary {
      background-color: $c-black--15;
      padding: 2px 2px 2px 6px;
      transition: all ease-in-out 0.25s;
      font-size: 16px;
      font-weight: bold;

      &:hover,
      &:focus {
        cursor: pointer;
        background-color: $c-blue--25;
      }
    }

    &[open] {
      summary {
        background-color: $c-blue;
        color: $c-white;
      }
    }
  }

  .form-group {
    margin: 0;
    padding: 10px;

    &.highlight {
      background: $c-hit-bg;

      .new-setting {
        margin-left: 4px;
        color: $c-red;
      }
    }

    + .form-group {
      // padding: 20px 10px;
      border-top: 1px solid $c-black--25;
    }

    .form-fields {
      flex: 0 0 40%;
    }

    input[type="checkbox"]:checked,
    input[type="radio"]:checked {
      accent-color: $c-blue;
    }
  }

  .archmage-settings-preview {
    .ability-usage {
      padding: 10px;
      margin-bottom: 1px;
      font-size: 18px;
    }
  }
}
