<section class="archmage-settings-preview">
  <div class="ability-usage ability-usage--at-will">{{localize "ARCHMAGE.at-will"}}</div>
  <div class="ability-usage ability-usage--once-per-battle">{{localize "ARCHMAGE.once-per-battle"}}</div>
  <div class="ability-usage ability-usage--daily">{{localize "ARCHMAGE.daily"}}</div>
  <div class="ability-usage ability-usage--recharge">{{localize "ARCHMAGE.recharge"}}</div>
  <div class="ability-usage ability-usage--other">{{localize "ARCHMAGE.other"}}</div>
  <aside>
    <p>{{{localize "ARCHMAGE.SETTINGS.ColorblindIssuesMessage"}}}</p>
  </aside>
</section>