$assets: '../../assets';

// Small.
// $padding-sm: 4px;
// $padding-md: 8px;
// $padding-lg: 16px;

// Large.
$padding-sm: 6px;
$padding-md: 12px;
$padding-lg: 24px;

$z-negative: -1;
$z-normal: 1;
$z-high: 10;
$z-higher: 20;
$z-overlay: 9999;