.section--resources {
  justify-content: center;
  @include borderBottom;

  .unit {
    position: relative;

    + .unit {
      margin-left: $padding-md;
      padding-left: $padding-md;

      &::before {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: -$padding-md;
        width: 2px;
        background: $ct-border;
      }
    }
  }
}

.unit--command-points {
  flex: 0 0 185px;
}

.unit--ki {
  flex: 0 0 100px;
}