.section--resources {
  justify-content: center;
  @include borderBottom;

  .unit {
    position: relative;
    padding: 0 $padding-md;
    margin-bottom: $padding-md;
    border: 1px solid $ct-border;
    border-top: 0;
    border-bottom: 0;

    &:first-child {
      border-left: 2px solid $ct-border;
    }

    &:last-child {
      border-right: 2px solid $ct-border;
    }
  }
}

.unit--command-points {
  flex: 0 0 185px;
}

.unit--ki {
  flex: 0 0 120px;
}

.unit--custom {
  flex: 0 0 180px;
}

input.resource-title-input {
  font-family: $font-stack-secondary;
  font-weight: normal;
  font-size: $font-md;
}

.unit--rest {
  flex: 0 auto;

  button + button {
    margin-top: $padding-sm;
  }

  button.rest--quick {
    background: $c-power-battle;
    border-color: #dc0000;
    transition: all ease-in-out 0.25s;

    &:hover,
    &:focus {
      background: linear-gradient(22deg, #3c0000, #dc0000, #dc0000);
    }
  }

  button.rest--full {
    background: $c-power-daily;
    border-color: #ababab;

    &:hover,
    &:focus {
      background: linear-gradient(22deg, #01003c, #ababab, #ababab);
    }
  }
}