.section--settings {
  .unit {
    grid-column-end: span 2;
  }

  .unit--base-settings,
  .unit--flags {
    grid-column-end: span 3;
  }

  .unit--base-settings {
    grid-column-start: 1;

    .flexrow {
      > input {
        flex: 0 0 32px;
      }

      select {
        flex: 0;
      }
    }
  }

  .sub-unit--melee,
  .sub-unit--ranged {
    border-top: 2px solid rgba($c-black, 0.5);
    margin: $padding-sm 0;
    padding-top: $padding-sm;
  }

  .unit-subtitle {
    font-weight: bold;
  }
}