<div
  class="archmage chat-card item-card" 
  {{#if actor.id}}data-actor-id="{{actor.id}}"{{/if}}
  {{#if item.id}}data-item-id="{{item.id}}"{{/if}}
  {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}
  {{#if actor.uuid}}data-actor-uuid="{{actor.uuid}}"{{/if}}
>
  <header class="card-header flexrow">
    {{#if (eq item.img "icons/svg/mystery-man.svg")}}
    {{else}}
      <img src="{{item.img}}" title="{{item.name}}" width="36" height="36" />
    {{/if}}
    <h3 class="ability-usage ability-usage--{{data.powerUsage.value}}">{{{item.name}}}</h3>
  </header>

  <div class="card-content">
    <div class="card-row">
    {{#if data.embeddedMacro.value}}
        <div class="card-row"><em>({{localize "ARCHMAGE.CHAT.embeddedMacro"}})</em></div>
    {{/if}}
    {{#if data.range.value}}
      <em>{{{data.range.value}}}</em>
    {{/if}}
    {{#if data.attack.value }}
      <div class="card-prop"><strong>{{localize 'ARCHMAGE.CHAT.attack'}}:</strong> {{{data.attack.value}}}</div>
    {{/if}}
    {{#if data.critMod.value }}
      <div class="card-prop"><strong>{{localize 'ARCHMAGE.CHAT.critMod'}}:</strong> {{{data.critMod.value}}}</div>
    {{/if}}
    {{#if data.hit.value }}
      <div class="card-prop"><strong>{{localize 'ARCHMAGE.CHAT.hit'}}:</strong> {{{data.hit.value}}}</div>
    {{/if}}
    {{#if data.hit1.value }}
      <div class="card-prop"><strong>{{data.hit1.name}}:</strong> {{{data.hit1.value}}}</div>
    {{/if}}
    {{#if data.hit2.value }}
      <div class="card-prop"><strong>{{data.hit2.name}}:</strong> {{{data.hit2.value}}}</div>
    {{/if}}
    {{#if data.hit3.value }}
      <div class="card-prop"><strong>{{data.hit3.name}}:</strong> {{{data.hit3.value}}}</div>
    {{/if}}
    {{#if data.hit4.value }}
      <div class="card-prop"><strong>{{data.hit4.name}}:</strong> {{{data.hit4.value}}}</div>
    {{/if}}
    {{#if data.hit5.value }}
      <div class="card-prop"><strong>{{data.hit5.name}}:</strong> {{{data.hit5.value}}}</div>
    {{/if}}
    {{#if data.miss.value }}
      <div class="card-prop"><strong>{{localize 'ARCHMAGE.CHAT.miss'}}:</strong> {{{data.miss.value}}}</div>
    {{/if}}
    {{#if data.description.value}}
      <div class="card-row">
        <div class="card-prop">{{{data.description.value}}}</div>
      </div>
    {{/if}}
    </div>
  </div>

  {{> "systems/archmage/templates/chat/_chat-effect-part.html" data=data actor=actor}}

  <footer class="card-footer">
    {{#each data.tags}}
    <span>{{this.value}}</span>
    {{/each}}
  </footer>
</div>
