<form>
  <div class="form-group">
    <label>{{localize 'ARCHMAGE.CHAT.effect'}}</label>
    <span>{{effectName}}</span>
  </div>
  <div class="form-group">
    <label>{{localize 'ARCHMAGE.CHAT.source'}}</label>
    <span>{{sourceName}}</span>
  </div>
  <div class="form-group">
    <label>{{localize 'ARCHMAGE.CHAT.duration'}}</label>
    <select name="duration">
      {{#select defaultDuration}}
      {{#each durations as |label duration|}}
        <option value="{{duration}}">{{localize label}}</option>
      {{/each}}
      {{/select}}
    </select>
  </div>
</form>