<div class="archmage chat-card icon-roll">
  <header class="card-header flexrow">
    <img src="{{actor.img}}" title="{{actor.name}}" width="36" height="36" />
    <h3 class="ability-usage ability-usage--recharge">{{localize 'ARCHMAGE.ICONROLLS.chatCardTitle'}}</h3>
  </header>

  <div class="card-content">
    {{#each inputs}}
    <h4 class="ability-usage ability-usage--recharge">
      {{icon.name.value}}: {{icon.bonus.value}} {{localize (concatenate "ARCHMAGE." icon.relationship.value)}}
    </h4>
    <div class="dice-tooltip">
      <section class="tooltip-part">
        <div class="dice">
          <ol class="dice-rolls {{#if ../is2e}}second-edition{{/if}} {{#if ../is2eAlt}}alt{{/if}}">
            {{#each results as |result r|}}
            <li class="roll die d6 result-{{result}}">{{result}}</li>
            {{/each}}
          </ol>
        </div>
      </section>
    </div>
    <div class="card-row">
      <div class="card-prop">
        {{#if ../is2eAlt}}
        {{!-- TODO: display this differently? --}}
        <span {{#if hasSixes}}style="color: green;" {{/if}}>
          <b>{{ localize 'ARCHMAGE.CHAT.advantages' }}: </b>
          {{sixes}}
        </span><br />
        {{else}}
        {{#if ../is2e}}
        <span {{#if hasSixes}}style="color: green;" {{/if}}>
          <b>{{ localize 'ARCHMAGE.CHAT.advantages' }}: </b>
          {{sixes}}
        </span><br />
        {{else}}
        <span {{#if hasSixes}}style="color: green;" {{/if}}>
          <b>{{ localize 'ARCHMAGE.CHAT.unambiguousAdvantages' }}: </b>
          {{sixes}}
        </span><br />
        <span {{#if hasFives}}style="color: orange;" {{/if}}>
          <b>{{ localize 'ARCHMAGE.CHAT.complicatedAdvantages'}}: </b>
          {{fives}}
        </span>
        {{/if}}
        {{/if}}
      </div>
    </div>
    {{/each}}
  </div>
</div>
