<form>
  <div class="form-group">
    <label>{{localize 'ARCHMAGE.rollFormula'}}</label>
    <input type="text" name="formula" value="{{formula}}" disabled/>
  </div>
  <div class="form-group">
    <label>{{localize 'ARCHMAGE.rollBonus'}}</label>
    <input type="text" name="bonus" value="" placeholder="{{localize 'ARCHMAGE.rollBonusPlaceholder'}}"/>
  </div>
  {{!-- Ability checks require choosing a background. --}}
  {{#if abilityCheck}}
    <div class="form-group">
      <label>{{localize 'ARCHMAGE.background'}}</label>
      <select name="background" data-dtype="String">
        {{selectOptions backgrounds selected="0" localize=false}}
      </select>
    </div>
  {{/if}}
  {{!-- Background checks require choosing an ability. --}}
  {{#if backgroundCheck}}
    <div class="form-group">
      <label>{{localize 'ARCHMAGE.abilityScore'}}</label>
      <select name="ability" data-dtype="String">
        {{selectOptions abilities selected=defaultAbility localize=true}}
      </select>
    </div>
  {{/if}}
  <div class="form-group">
    <label>{{localize 'ARCHMAGE.messageMode'}}</label>
    <select name="messageMode">
      {{selectOptions messageModes selected=defaultMessageMode localize=true}}
    </select>
  </div>
</form>
