<div class="archmage chat-card">
  <header class="card-header flexrow">
    <img src="{{actor.img}}" title="{{actor.name}}" width="36" height="36"/>
    <h3 class="ability-usage ability-usage--recharge">{{numberFormat ability.bonus decimals=0 sign=true}} {{ability.name}}</h3>
  </header>
  <div class="card-content">
    {{#if background.name }}
      <h3>{{background.name}}</h3>
    {{/if}}
    <div class="dice-roll">
      <div class="dice-result">
          <div class="dice-formula">{{data.roll.formula}}</div>
          <div class="dice-tooltip">
            <section class="tooltip-part">
              <div class="dice">
                  <header class="part-header flexrow">
                      <span class="part-formula">{{data.roll.formula}}</span>             
                      <span class="part-total">{{data.roll.total}}</span>
                  </header>
                  <ol class="dice-rolls">
                    {{#each data.roll.terms as |term i|}}
                      {{#each term.results as |result r|}}
                      <li class="roll die d{{term.faces}}">{{result.result}}</li>
                      {{/each}}
                    {{/each}}
                  </ol>
              </div>
            </section>
          </div>
          <h4 class="dice-total">{{data.roll.total}}</h4>
      </div>
    </div>
  </div>
</div>
