@import 'init';

// General layout.
@import 'layout/grid';
@import 'layout/flex';

// Theme overrides.
@import 'application/window';

// Archmage custom.
.archmage-v2 {
  font-family: $font-stack-base;
  font-size: $font-xs;

  // Generic.
  @import 'base/input';
  @import 'base/typography';
  // Layout.
  @import 'layout/grid';
  @import 'layout/flex';
  @import 'layout/layout';
  // Components.
  @import 'components/rollable';
  @import 'components/tabs';
  @import 'components/progress-bar';
  @import 'components/resource';
  // Journals.
  @import 'components/journals/page';
  @import 'components/journals/callout';
  @import 'components/journals/author-callout';
  @import 'components/journals/icon-background';
  @import 'components/journals/quote';

  &.compact-mode {
    .window-content {
      zoom: 0.86;
    }
  }

  // Character and NPC sheets.
  &.sheet,
  &.archmage-dialog {
    // Specific.
    @import 'components/sheet';
    @import 'components/character/header';
    @import 'components/character/abilities';
    @import 'components/character/attributes';
    @import 'components/character/backgrounds';
    @import 'components/character/icons';
    @import 'components/character/out';
    @import 'components/character/incrementals';
    @import 'components/character/resources';
    @import 'components/character/powers';
    @import 'components/character/feats';
    @import 'components/character/inventory';
    @import 'components/character/effects';
    @import 'components/character/settings';
  }

  &.archmage-dialog {
    @import 'components/compendium-browser/compendium-browser';

    min-width: 960px;
  }
}

.system-archmage {
  // Chat messages.
  .message {
    @import 'components/message';
  }

  .introjs-overlay {
    opacity: 0.5 !important;
  }

  .introjs-tooltip {
    max-width: 400px;
    width: 400px;
    font-size: 16px;
    font-family: $font-stack-base;

    .introjs-button {
      font-size: 16px;
      font-family: $font-stack-base;
    }
  }

  // @todo replace this when we make the v2 power sheet.
  .item-sheet {
    @import 'components/items/power-sheet';
  }
}

.package-configuration {
  @import 'application/settings';
}

.chat-sidebar {
  @import 'components/chat/ongoing-effects';
}

// Global AppV2 styles.
.archmage-appv2 {
  max-height: 90vh;

  @import 'base/textarea-grow';

  textarea,
  .grow-wrap > textarea {
    background: var(--color-cool-4);
    border: 1px solid transparent;
    color: var(--color-light-3);
    border-radius: 4px;
    padding: 0.5rem;
    flex: 2;
    max-width: none;

    &:hover,
    &:focus {
      background: var(--color-cool-4);
    }

    &:focus {
      outline: 2px solid var(--color-cool-3);
      box-shadow: 0 0 5px var(--color-shadow-primary);
    }
  }

  .grow-wrap::after {
    padding: 0.5rem;
  }

  .standard-form {
    .form-group {
      > label {
        line-height: 1.2;
      }
    }
  }

  .field.flexrow {
    .flexshrink {
      flex: 0;
    }

    .checkbox-disable {
      &::before {
        color: $c-progress-full;
        content: '\f00c';
      }
      &::after {
        content: '';
      }

      &:checked {
        &::before {
          content: '';
        }
        &::after {
          color: $c-progress-dire;
          content: "\f00d\f00d";
        }
      }
    }
  }

  // @todo figure out how to fix this hack properly.
  .window-content {
    margin-top: -16px;
  }

  .window-content,
  .archmage-appv2-vue {
    height: 100%;
    flex: 1;
    overflow: hidden;

    > .tab {
      height: 100%;
      flex: 1;
      overflow-y: auto;
    }
  }
  
  .power.include-title {
    .power-summary,
    .power-header-labels {
      min-height: 32px;
      grid-template-columns: 0 auto 0 0 0 0 0 !important;
    }
  }

  .power-detail {
    margin: 6px 0;
  }

  .theme-dark & {
    .expression {
      color: $c-fail;
    }
  }

  .section--main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 1;
    overflow: hidden;

    .section--fields {
      flex: 0 0 440px;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      .tab {
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
      }
    }

    .section--preview {
      flex: 1;
      overflow-x: hidden;
      overflow-y: auto;
      // border: 1px solid;
      // border-radius: 4px;
      margin-left: 16px;
    }
  }

  nav.tabs {
    flex-wrap: wrap;
    gap: 0;
  }

  prose-mirror {
    height: auto !important;
    min-height: 36px;
    background: var(--color-cool-4);
    border-radius: 4px;

    &.active {
      background: transparent;
      min-height: 200px;

      .editor-container {
        border: 1px solid;
        border-color: var(--color-cool-4);
        border-radius: 4px;
      }
    }
  }

  .section--effects {
    .effects-grid {
      grid-template-columns: 40px auto 160px 0px 60px !important;
    }
  }

  .feat-actions {
    .operations {
      display: flex;
      justify-content: flex-end;

      .feat-action {
        flex: 0 0 18px;
        text-align: center;
      }

      .feat-create {
        flex: 1;
        text-align: right;
      }
    }
  }

  .fieldset-feats {
    details[open] {
      .feat-summary {
        display: none;
      }
    }
  }

  ::placeholder {
    opacity: 0.25;
  }
}

@import 'theme/nightmode';
@import 'theme/colormodes';