<form class="{{cssClass}}" autocomplete="off">

    <!-- HEADER -->
    <header class="sheet-header">
        <h1 class="charname">
            <input name="name" type="text" value="{{actor.name}}" placeholder="Character Name" />
        </h1>

        <div class="charlevel">
            <div class="level">
                <label>Level </label>
                <input name="data.attributes.level.value" type="text" value="{{data.attributes.level.value}}" data-dtype="Number"
                    placeholder="1" />
            </div>

            <div class="initiative">
                <label>Initiative </label>
                <span>{{numberFormat data.attributes.init.mod decimals=0 sign=true}}</span>
            </div>
        </div>


    </header>

    <!-- SIDEBAR -->
    <section class="sheet-sidebar">
        <img class="sheet-profile" src="{{actor.img}}" title="{{actor.name}}" height="220" width="220" data-edit="img" />

        <nav class="sheet-tabs tabs" data-group="sidebar">
            <a class="item active" data-tab="attributes">Attributes</a>
            <a class="item" data-tab="misc">Misc.</a>
        </nav>

        <!-- ATTRIBUTES -->
        <div class="tab attributes" data-group="sidebar" data-tab="attributes">

            <div class="primary-attributes">
            <div class="attribute attribute--health">
                <h4 class="attribute-name">Health</h4>
                <div class="attribute-value">
                    <input name="data.attributes.hp.value" type="text" value="{{data.attributes.hp.value}}" data-dtype="{{data.attributes.hp.type}}"
                        placeholder="10" />
                    <span class="flex0"> / </span>
                    <input name="data.attributes.hp.max" type="text" value="{{data.attributes.hp.max}}" data-dtype="{{data.attributes.hp.type}}"
                        placeholder="10" />
                </div>
                <footer class="attribute-footer attribute-footer--temp-hp">
                    <span class="attribute-subname">Temp HP</span>
                    <input name="data.attributes.hp.temp" type="text" class="temphp" placeholder="0" value="{{data.attributes.hp.temp}}"
                        data-dtype="{{data.attributes.hp.type}}" />
                </footer>
            </div>

            <div class="attribute attribute--defenses">
                <h4 class="attribute-name">Defenses</h4>
                <div class="attribute-value attribute-value--parent">
                    <div class="attribute-sub">
                        <strong class="attribute-name">AC</strong>
                        <input class="attribute-display" name="data.attributes.ac.value" type="text" value="{{data.attributes.ac.value}}" data-dtype="{{data.attributes.ac.type}}"
                            placeholder="10" />
                    </div>
                    <div class="attribute-sub">
                        <strong class="attribute-name">PD</strong>
                        <input class="attribute-display" name="data.attributes.pd.value" type="text" value="{{data.attributes.pd.value}}"
                            data-dtype="{{data.attributes.pd.type}}" placeholder="10" />
                    </div>
                    <div class="attribute-sub">
                        <strong class="attribute-name">MD</strong>
                        <input class="attribute-display" name="data.attributes.md.value" type="text" value="{{data.attributes.md.value}}"
                            data-dtype="{{data.attributes.md.type}}" placeholder="10" />
                    </div>
                </div>
            </div>

            <div class="attribute attribute--resistance">
                <span class="attribute-name">{{data.details.resistance.label}}</span>
                <textarea class="attribute-value resistance" name="data.details.resistance.value" rows="5" title="For example: Fire 16+, Cold 18+"
                    data-dtype="{{data.details.resistance.type}}">{{#if data.details.resistance.value}}{{data.details.resistance.value}}{{/if}}</textarea>
            </div>

            <div class="attribute attribute--vulnerability">
                <span class="attribute-name">{{data.details.vulnerability.label}}</span>
                <textarea class="attribute-value vulnerability" name="data.details.vulnerability.value" rows="5" title="For example: Fire, Cold"
                    data-dtype="{{data.details.vulnerability.type}}">{{#if data.details.vulnerability.value}}{{data.details.vulnerability.value}}{{/if}}</textarea>
            </div>
        </div>

        </div>

        <!-- SETTINGS -->
        <div class="tab misc" data-group="sidebar" data-tab="misc">
            <div class="settings-group form-group configure-flags">
                <label>Special Traits</label>
                <i class="fas fa-cog"></i>
            </div>

            <div class="settings-group">
                <strong class="attribute-name">Initiative</strong>
                <input name="data.attributes.init.value" type="text" value="{{data.attributes.init.value}}"
                    data-dtype="{{data.attributes.init.type}}" placeholder="0" />
            </div>
        </div>
    </section>

    <section class="sheet-body">
        <div class="actions">
            <div class="actions-header item flexrow">
                <div class="item-name">Actions</div>
                {{#if owner}}
                <div class="item-controls">
                    <a class="item-control item-create" title="Create Action" data-item-type="action" data-type="action">
                        <i class="fas fa-plus"></i> Add</a>
                </div>
                {{/if}}
            </div>

            <ul class="actions-list inventory-list directory-list">

                {{#each actor.actions as |item i|}}
                <li class="item flexrow item--action" data-item-id="{{item._id}}">
                    <div class="item-name rollable">
                        {{!-- <div class="item-image" style="background-image: url({{item.img}})"></div> --}}
                        <h4>{{item.name}}</h4>
                    </div>

                    {{!-- <div class="ability-usage ability-usage--{{item.data.powerUsage.value}}"><span class="visually-hidden">{{item.data.powerUsage.label}}</span></div> --}}

                    {{#if ../owner}}
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Ability"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Ability"><i class="fas fa-trash"></i></a>
                    </div>
                    {{/if}}

                    <div class="item-description">
                        <p class="hit"><strong class="attack">{{item.data.attack.value}}</strong>{{#if item.data.attack.value}}{{#if item.data.hit.value}} — {{/if}}{{/if}}{{item.data.hit.value}}</p>
                        {{#if item.data.hit1.value}}
                            <p class="hit1"><em>{{item.data.hit1.name}}:</em> {{{item.data.hit1.formatted}}}</p>
                        {{/if}}
                        {{#if item.data.hit2.value}}
                            <p class="hit2"><em>{{item.data.hit2.name}}:</em> {{{item.data.hit2.formatted}}}</p>
                        {{/if}}
                        {{#if item.data.hit3.value}}
                            <p class="hit3"><em>{{item.data.hit3.name}}:</em> {{{item.data.hit3.formatted}}}</p>
                        {{/if}}
                        {{#if item.data.miss.value}}
                            <p class="miss"><em>Miss:</em> {{item.data.miss.formatted}}</p>
                        {{/if}}
                        {{#if item.data.description.value}}
                            <div class="description">{{{item.data.description.value}}}</div>
                        {{/if}}
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>

        <div class="traits">
            <div class="traits-header item flexrow">
                <div class="item-name">Traits</div>
                {{#if owner}}
                <div class="item-controls">
                    <a class="item-control item-create" title="Create Trait" data-item-type="trait" data-type="trait">
                        <i class="fas fa-plus"></i> Add</a>
                </div>
                {{/if}}
            </div>

            <ul class="traits-list inventory-list directory-list">

                {{#each actor.traits as |item i|}}
                <li class="item flexrow item--trait" data-item-id="{{item._id}}">
                    <div class="item-name rollable">
                        {{!-- <div class="item-image" style="background-image: url({{item.img}})"></div> --}}
                        <h4>{{item.name}}</h4>
                    </div>

                    {{!-- <div class="ability-usage ability-usage--{{item.data.powerUsage.value}}"><span class="visually-hidden">{{item.data.powerUsage.label}}</span></div> --}}

                    {{#if ../owner}}
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Ability"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Ability"><i class="fas fa-trash"></i></a>
                    </div>
                    {{/if}}

                    <div class="item-description">
                        {{#if item.data.description.value}}
                            <div class="description">{{{item.data.description.value}}}</div>
                        {{/if}}
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>

        <div class="nastier-specials">
            <div class="nastier-specials-header item flexrow">
                <div class="item-name">Nastier Specials</div>
                {{#if owner}}
                <div class="item-controls">
                    <a class="item-control item-create" title="Create Nastier Special" data-item-type="nastierSpecial" data-type="nastierSpecial">
                        <i class="fas fa-plus"></i> Add</a>
                </div>
                {{/if}}
            </div>

            <ul class="nastier-specials-list inventory-list directory-list">

                {{#each actor.nastierSpecials as |item i|}}
                <li class="item flexrow item--nastier-special" data-item-id="{{item._id}}">
                    <div class="item-name rollable">
                        {{!-- <div class="item-image" style="background-image: url({{item.img}})"></div> --}}
                        <h4>{{item.name}}</h4>
                    </div>

                    {{!-- <div class="ability-usage ability-usage--{{item.data.powerUsage.value}}"><span class="visually-hidden">{{item.data.powerUsage.label}}</span></div> --}}

                    {{#if ../owner}}
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Ability"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Ability"><i class="fas fa-trash"></i></a>
                    </div>
                    {{/if}}

                    <div class="item-description">
                        {{#if item.data.description.value}}
                            <div class="description">{{{item.data.description.value}}}</div>
                        {{/if}}
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </section>

    {{!-- <div class="tab items" data-tab="items">
        <ol class="items-list">
        {{#each actor.items as |item id|}}
            <li class="item" data-item-id="{{item._id}}">
                <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                <h4 class="item-name">{{item.name}}</h4>
                <div class="item-controls">
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
            </li>
        {{/each}}
        </ol>
    </div> --}}

    {{!-- <button type="submit" name="submit" value="1"><i class="far fa-save"></i> Save Changes</button> --}}
</form>

