.container,
.section,
.header,
.unit {
  padding: 2px;
  margin: 2px;
  border: 2px solid rgba(0,0,0,0.75);
}

.section,
.header {
  border-color: rgba(0,0,0,0.5);
}

.unit {
  border: 2px solid rgba(0,0,0,0.25);

  .resource {
    justify-content: center;
    text-align: center;
  }
}

.section--sidebar {
  > .section {
    flex: 0;
  }
}