<form class="dnd5e item-sheet {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'ARCHMAGE.name'}}"/></h1>
    </header>

    <article class="sheet-content">

        <section class="sheet-body">
            <nav class="sheet-tabs tabs" data-group="primary">
                <a class="item" data-tab="description">{{localize 'ARCHMAGE.description'}}</a>
                <a class="item" data-tab="details">{{localize 'ARCHMAGE.details'}}</a>
            </nav>

            <div class="sheet-tabs-content">
              <div class="tab" data-group="primary" data-tab="description">
                  {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
              </div>

              <div class="tab" data-group="primary" data-tab="details">
                  <div class="settings-group">
                      <strong class="attribute-name">{{localize 'ARCHMAGE.ITEM.price'}}</strong>
                      <input name="data.price.value" type="text" value="{{data.price.value}}"
                          data-dtype="String" placeholder="1,000gp" />
                  </div>

                  <div class="settings-group form-group">
                      <label>{{localize 'ARCHMAGE.ITEM.attackBonuses'}}</label>
                  </div>

                  <div class="settings-group">
                      <strong class="attribute-name">{{localize 'ARCHMAGE.ITEM.meleeAttackBonus'}}</strong>
                      <input class="attribute-input" name="data.attributes.attack.melee.bonus" type="text" value="{{data.attributes.attack.melee.bonus}}"
                          data-dtype="Number" placeholder="0" />
                  </div>

                  <div class="settings-group">
                      <strong class="attribute-name">{{localize 'ARCHMAGE.ITEM.rangedAttackBonus'}}</strong>
                      <input class="attribute-input" name="data.attributes.attack.ranged.bonus" type="text" value="{{data.attributes.attack.ranged.bonus}}"
                          data-dtype="Number" placeholder="0" />
                  </div>

                  <div class="settings-group">
                      <strong class="attribute-name">{{localize 'ARCHMAGE.ITEM.divineAttackBonus'}}</strong>
                      <input class="attribute-input" name="data.attributes.attack.divine.bonus" type="text" value="{{data.attributes.attack.divine.bonus}}"
                          data-dtype="Number" placeholder="0" />
                  </div>

                  <div class="settings-group">
                      <strong class="attribute-name">{{localize 'ARCHMAGE.ITEM.arcaneAttackBonus'}}</strong>
                      <input class="attribute-input" name="data.attributes.attack.arcane.bonus" type="text" value="{{data.attributes.attack.arcane.bonus}}"
                          data-dtype="Number" placeholder="0" />
                  </div>

                  <div class="settings-group form-group" style="padding-top: 10px;">
                      <label>{{localize 'ARCHMAGE.ITEM.defenseBonuses'}}</label>
                  </div>

                  <div class="settings-group">
                      <strong class="attribute-name">{{localize 'ARCHMAGE.ITEM.acBonus'}}</strong>
                      <input class="attribute-input" name="data.attributes.ac.bonus" type="text" value="{{data.attributes.ac.bonus}}"
                          data-dtype="Number" placeholder="0" />
                  </div>

                  <div class="settings-group">
                      <strong class="attribute-name">{{localize 'ARCHMAGE.ITEM.pdBonus'}}</strong>
                      <input class="attribute-input" name="data.attributes.pd.bonus" type="text" value="{{data.attributes.pd.bonus}}"
                          data-dtype="Number" placeholder="0" />
                  </div>

                  <div class="settings-group">
                      <strong class="attribute-name">{{localize 'ARCHMAGE.ITEM.mdBonus'}}</strong>
                      <input class="attribute-input" name="data.attributes.md.bonus" type="text" value="{{data.attributes.md.bonus}}"
                          data-dtype="Number" placeholder="0" />
                  </div>

                  <div class="settings-group">
                    <strong class="attribute-name">{{localize 'ARCHMAGE.ITEM.hpBonus'}}</strong>
                    <input class="attribute-input" name="data.attributes.hp.bonus" type="text" value="{{data.attributes.hp.bonus}}"
                        data-dtype="Number" placeholder="0" />
                  </div>


                  <div class="settings-group form-group" style="padding-top: 10px;">
                      <label>{{localize 'ARCHMAGE.ITEM.chakraSlot'}}</label>
                  </div>

                  <div class="settings-group">
                      <select class="attribute-input" name="data.chackra" data-type="String">
                          {{#select data.chackra}}
                          <option value="none">None</option>
                          <option value="armor">Armor, robe, shirt, tunic</option>
                          <option value="arrow">Arrow, crossbow bolt, slingstone</option>
                          <option value="belt">Belt, swordbelt, kilt, girdle</option>
                          <option value="book">Book, scroll, manual, grimoire</option>
                          <option value="boots">Boots, scandals, slippers, shoes</option>
                          <option value="cloak">Cloak, mantle, cape</option>
                          <option value="glove">Glove, gauntlet, mitt</option>
                          <option value="helmet">Helmet, circlet, crown, cap</option>
                          <option value="necklace">Necklace, pendant</option>
                          <option value="ring">Ring</option>
                          <option value="shield">Shield</option>
                          <option value="staff">Staff (implement)</option>
                          <option value="symbol">Symbol, holy relic, sacred sickle (implement)</option>
                          <option value="wand">Wand (implement)</option>
                          <option value="melee">Weapon, melee</option>
                          <option value="ranged">Weapon, ranged</option>
                          <option value="wondrous">Wondrous item</option>
                          {{/select}}
                      </select>
                  </div>
              </div>
            </div>
        </section>

    </article>

</form>
