<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="Item Name"/>
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{itemType}}</h4>
                <span class="item-status">{{itemStatus}}</span>
            </div>

            <ul class="summary">
                <li>
                    {{lookup config.consumableTypes data.consumableType }}
                </li>
                <li>
                    <input type="text" name="data.rarity" value="{{data.rarity}}" placeholder="Rarity"/>
                </li>
                <li>
                    <input type="text" name="data.source" value="{{data.source}}" placeholder="Source"/>
                </li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "DND5E.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "DND5E.Details" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab flexrow active" data-group="primary" data-tab="description">

            <div class="item-properties">
                {{#if isPhysical}}
                <div class="form-group">
                    <label>Quantity</label>
                    <input type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="Number"/>
                </div>
        
                <div class="form-group">
                    <label>Weight</label>
                    <input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number"/>
                </div>
        
                <div class="form-group">
                    <label>Price</label>
                    <input type="text" name="data.price" value="{{data.price}}" data-dtype="Number"/>
                </div>
                {{/if}}
        
                <ol class="properties-list">
                    {{#each itemProperties}}
                    <li>{{this}}</li>
                    {{/each}}
                </ol>
            </div>
        
            {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
        </div>
        

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            <h3 class="form-header">Consumable Details</h3>

            {{!-- Consumable Type --}}
            <div class="form-group">
                <label>Consumable Type</label>
                <select name="data.consumableType">
                    {{#select data.consumableType}}
                    {{#each config.consumableTypes as |name type|}}
                    <option value="{{type}}">{{name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>

            <h3 class="form-header">Consumable Usage</h3>

            {{!-- Item Activation Template --}}
            {{!-- Activation Cost --}}
<div class="form-group input-select">
    <label>Activation Cost</label>
    <div class="form-fields">
        <input type="text" name="data.activation.cost" value="{{data.activation.cost}}" data-dtype="Number" placeholder="-"/>
        <select name="data.activation.type">
            {{#select data.activation.type}}
            <option value=""></option>
            {{#each config.abilityActivationTypes as |name key|}}
            <option value="{{key}}">{{name}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
</div>
{{#if data.activation.type}}

{{!-- Activation Condition --}}
<div class="form-group">
    <label>Activation Condition</label>
    <div class="form-fields">
        <input type="text" name="data.activation.condition" value="{{data.activation.condition}}"/>
    </div>
</div>


{{!-- Ability Target --}}
<div class="form-group input-select-select">
    <label>Target</label>
    <div class="form-fields">
        <input type="text" name="data.target.value" value="{{data.target.value}}" data-dtype="Number" placeholder="-"/>
        <select name="data.target.units">
            {{#select data.target.units}}
            <option value=""></option>
            {{#each config.distanceUnits as |name key|}}
            <option value="{{key}}">{{name}}</option>
            {{/each}}
            {{/select}}
        </select>
        <select name="data.target.type">
            {{#select data.target.type}}
            <option value=""></option>
            {{#each config.targetTypes as |name key|}}
            <option value="{{key}}">{{name}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
</div>

{{!-- Ability Range --}}
<div class="form-group input-select">
    <label>Range</label>
    <div class="form-fields">
        <input type="text" name="data.range.value" value="{{data.range.value}}" data-dtype="Number" placeholder="Normal"/>
        <span class="sep">/</span>
        <input type="text" name="data.range.long" value="{{data.range.long}}" data-dtype="Number" placeholder="Max"/>
        <select name="data.range.units">
            {{#select data.range.units}}
            <option value=""></option>
            {{#each config.distanceUnits as |name key|}}
            <option value="{{key}}">{{name}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
</div>

{{!-- Effect Duration --}}
<div class="form-group input-select">
    <label>Duration</label>
    <div class="form-fields">
        <input type="text" name="data.duration.value" value="{{data.duration.value}}" data-dtype="Number" placeholder="-"/>
        <select name="data.duration.units">
            {{#select data.duration.units}}
            <option value=""></option>
            {{#each config.timePeriods as |name key|}}
            <option value="{{key}}">{{name}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
</div>

{{!-- Limited Uses --}}
<div class="form-group uses-per">
    <label>Limited Uses</label>
    <div class="form-fields">
        <input type="text" name="data.uses.value" value="{{data.uses.value}}" data-dtype="Number"/>
        <span class="sep"> of </span>
        <input type="text" name="data.uses.max" value="{{data.uses.max}}" data-dtype="Number"/>
        <select name="data.uses.per">
            {{#select data.uses.per}}
            <option value=""></option>
            {{#each config.limitedUsePeriods as |name key|}}
            <option value="{{key}}">{{name}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
</div>
{{/if}}


            {{!-- Consumable Usage --}}
            {{#if data.activation.type}}
            <div class="form-group">
                <label>Consumable Usage</label>
                <label class="checkbox">
                    <input type="checkbox" name="data.uses.autoUse" {{checked data.uses.autoUse}}/> Consume on Use
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="data.uses.autoDestroy" {{checked data.uses.autoDestroy}}/> Destroy on Empty
                </label>
            </div>
            {{/if}}

            <h3 class="form-header">Consumable Action</h3>

            {{!-- Item Action Template --}}
            {{!-- Action Type --}}
<div class="form-group select">
    <label>Action Type</label>
    <select name="data.actionType">
        {{#select data.actionType}}
        <option value=""></option>
        {{#each config.itemActionTypes as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>
{{#if data.actionType}}

{{!-- Ability Modifier --}}
<div class="form-group select">
    <label>Ability Modifier</label>
    <select name="data.ability">
        {{#select data.ability}}
        <option value=""></option>
        {{#each config.abilities as |ability a|}}
        <option value="{{a}}">{{ability}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>

{{!-- Attack Roll Bonus --}}
{{#if hasAttackRoll }}
<div class="form-group">
    <label>Attack Roll Bonus</label>
    <div class="form-fields">
        <input type="text" name="data.attackBonus" value="{{data.attackBonus}}" data-dtype="Number"/>
    </div>
</div>
{{/if}}

{{!-- Damage Formula --}}
<h4 class="damage-header">
    {{#unless isHealing }}Damage{{ else }}Healing{{/unless}} Formula
    <a class="damage-control add-damage"><i class="fas fa-plus"></i></a>
</h4>
<ol class="damage-parts form-group">
    {{#each data.damage.parts as |part i| }}
    <li class="damage-part flexrow" data-damage-part="{{i}}">
        <input type="text" name="data.damage.parts.{{i}}.0" value="{{lookup this "0"}}"/>
        <select name="data.damage.parts.{{i}}.1">
            {{#select (lookup this "1") }}
            <option value="">None</option>
            {{#each ../config.damageTypes as |name type|}}
            <option value="{{type}}">{{name}}</option>
            {{/each}}
            {{#each ../config.healingTypes as |name type|}}
            <option value="{{type}}">{{name}}</option>
            {{/each}}
            {{/select}}
        </select>
        <a class="damage-control delete-damage"><i class="fas fa-minus"></i></a>
    </li>
    {{/each}}
</ol>

{{!-- Versatile Damage --}}
{{#if data.damage.parts.length }}
<div class="form-group">
    <label>Versatile Damage</label>
    <div class="form-fields">
        <input type="text" name="data.damage.versatile" value="{{data.damage.versatile}}" placeholder="Formula"/>
    </div>
</div>
{{/if}}

{{!-- Other Formula --}}
<div class="form-group">
    <label>Other Formula</label>
    <div class="form-fields">
        <input type="text" name="data.formula" value="{{data.formula}}" placeholder="Formula"/>
    </div>
</div>

{{!-- Saving Throw --}}
<div class="form-group input-select">
    <label>Saving Throw</label>
    <div class="form-fields">
        <select name="data.save.ability">
            {{#select data.save.ability}}
            <option value=""></option>
            {{#each config.abilities as |ability a|}}
            <option value="{{a}}">{{ability}}</option>
            {{/each}}
            {{/select}}
        </select>
        <span>vs. DC</span>
        <input type="text" name="data.save.dc" value="{{#if data.save.dc}}{{data.save.dc}}{{/if}}" data-dtype="Number" placeholder="DC" {{#unless isFlatDC}}disabled{{/unless}}/>
        <select name="data.save.scaling">
            {{#select data.save.scaling}}
            <option value="spell">Spellcasting</option>
            {{#each config.abilities as |ability a|}}
            <option value="{{a}}">{{ability}}</option>
            {{/each}}
            <option value="flat">Flat</option>
            {{/select}}
        </select>
    </div>
</div>

{{!-- Chat Message Flavor --}}
<div class="form-group stacked">
    <label>Chat Message Flavor</label>
    <input type="text" name="data.chatFlavor" value="{{data.chatFlavor}}"/>
</div>
{{/if}}

        </div>
    </section>
</form>
