<form class="archmage item-sheet spell-sheet {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="44" width="44"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>

    <article class="sheet-content">
        <!-- ITEM SHEET SIDEBAR -->
        {{#if hasSidebar}}
        <section class="sheet-sidebar">
            {{> (sidebarTemplate)}}
        </section>
        {{/if}}

        <section class="sheet-body">
            <nav class="sheet-tabs tabs" data-tab-container="primary">
                <a class="item" data-tab="description">Description</a>
                <a class="item active" data-tab="details">Details</a>
            </nav>

            <!-- Ability Description -->
            <div class="tab active" data-tab="description">
                {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
            </div>

            <!-- Ability Details -->
            <div class="tab" data-tab="details">

                <div class="form-group">
                    <label>{{data.powerSource.label}}</label>
                    <select name="data.powerSource.value" data-dtype="{{data.powerSource.type}}">
                        {{#select data.powerSource.value}}
                        {{#each powerSources as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>

                <div class="form-group">
                    <label>{{data.powerType.label}}</label>
                    <select name="data.powerType.value" data-dtype="{{data.powerType.type}}">
                        {{#select data.powerType.value}}
                        {{#each powerTypes as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>

                <div class="form-group">
                    <label>{{data.powerUsage.label}}</label>
                    <select name="data.powerUsage.value" data-dtype="{{data.powerUsage.type}}">
                        {{#select data.powerUsage.value}}
                        <option value="">- None -</option>
                        {{#each powerUsages as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>

                <div class="form-group">
                    <label>{{data.actionType.label}}</label>
                    <select name="data.actionType.value" data-dtype="{{data.actionType.type}}">
                        {{#select data.actionType.value}}
                        <option value="">- None -</option>
                        {{#each actionTypes as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>

                <div class="form-group">
                    <label>{{data.range.label}}</label>
                    <input type="text" name="data.range.value" value="{{data.range.value}}" data-dtype="{{data.range.type}}" placeholder="Melee or Ranged"/>
                </div>

                <div class="form-group">
                    <label>{{data.trigger.label}}</label>
                    <input type="text" name="data.trigger.value" value="{{data.trigger.value}}" data-dtype="{{data.trigger.type}}" placeholder="Natural even miss"/>
                </div>

                <div class="form-group">
                    <label>{{data.target.label}}</label>
                    <input type="text" name="data.target.value" value="{{data.target.value}}" data-dtype="{{data.target.type}}" placeholder="1d3 nearby enemies"/>
                </div>

                <div class="form-group">
                    <label>{{data.attack.label}}</label>
                    <input type="text" name="data.attack.value" value="{{data.attack.value}}" data-dtype="{{data.attack.type}}" placeholder="Strength + Level vs. AC"/>
                </div>

                <div class="form-group">
                    <label>{{data.hit.label}}</label>
                    <input type="text" name="data.hit.value" value="{{data.hit.value}}" data-dtype="{{data.hit.type}}" placeholder="WEAPON + Strength damage"/>
                </div>

                <div class="form-group">
                    <label>{{data.miss.label}}</label>
                    <input type="text" name="data.miss.value" value="{{data.miss.value}}" data-dtype="{{data.miss.type}}" placeholder="Damage equal to your level"/>
                </div>

                <div class="form-group">
                    <label>{{data.recharge.label}}</label>
                    <input type="text" name="data.recharge.value" value="{{data.recharge.value}}" data-dtype="{{data.recharge.type}}" placeholder="Numbers only, such as '16'"/>
                </div>

                <div class="form-group">
                    <label>Uses Remaining</label>
                    <input type="text" name="data.quantity.value" value="{{data.quantity.value}}" data-dtype="{{data.quantity.type}}" placeholder="Number of uses per battle/day, usually 1"/>
                </div>

                <div class="form-group">
                    <label>{{data.special.label}}</label>
                    {{editor content=data.special.value target="data.special.value" button=true owner=owner editable=editable}}
                </div>

                <div class="form-group">
                    <label>{{data.effect.label}}</label>
                    {{editor content=data.effect.value target="data.effect.value" button=true owner=owner editable=editable}}
                </div>

                <details class="form-details" open="true">
                    <summary>Feats</summary>
                    <div class="form-group">
                        <label>{{data.feats.adventurer.description.label}}</label>
                        <input type="checkbox" name="data.feats.adventurer.isActive.value" value="1" data-dtype="Boolean" {{checked data.feats.adventurer.isActive.value}}/>
                    </div>
                    <div class="form-group">
                        <details class="form-details">
                            <summary>Adv. Feat Description</summary>
                            {{editor content=data.feats.adventurer.description.value target="data.feats.adventurer.description.value" button=true owner=owner editable=editable}}
                        </details>
                    </div>
                    <div class="form-group">
                        <label>{{data.feats.champion.description.label}}</label>
                        <input type="checkbox" name="data.feats.champion.isActive.value" value="1" data-dtype="Boolean" {{checked data.feats.champion.isActive.value}}/>
                    </div>
                    <div class="form-group">
                        <details class="form-details">
                            <summary>Cha. Feat Description</summary>
                            {{editor content=data.feats.champion.description.value target="data.feats.champion.description.value" button=true owner=owner editable=editable}}
                        </details>
                    </div>
                    <div class="form-group">
                        <label>{{data.feats.epic.description.label}}</label>
                        <input type="checkbox" name="data.feats.epic.isActive.value" value="1" data-dtype="Boolean" {{checked data.feats.epic.isActive.value}}/>
                    </div>
                    <div class="form-group">
                        <details class="form-details">
                            <summary>Epic Feat Description</summary>
                            {{editor content=data.feats.epic.description.value target="data.feats.epic.description.value" button=true owner=owner editable=editable}}
                        </details>
                    </div>
                </details>
            </div>
        </section>

    </article>
</form>
