<form class="archmage item-sheet action-sheet {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'ARCHMAGE.name'}}"/></h1>
    </header>
    
    <article class="sheet-content">
        <section class="sheet-body">
            <nav class="sheet-tabs tabs" data-group="primary">
                <a class="item" data-tab="details">{{localize 'ARCHMAGE.details'}}</a>
                <a class="item" data-tab="effects">{{localize 'ARCHMAGE.effects'}}</a>
            </nav>

            <div class="sheet-tabs-content">
                <div class="tab" data-group="primary" data-tab="details">
                    <ol class="item-details">
                        <li>
                            <label>{{localize 'ARCHMAGE.ITEM.quantity'}}</label>
                            <input type="text" name="system.quantity.value" value="{{system.quantity.value}}" data-dtype="{{system.quantity.type}}"/>
                        </li>
                        <li>
                            <label>{{localize 'ARCHMAGE.ITEM.price'}}</label>
                            <input type="text" name="system.price.value" value="{{system.price.value}}" data-dtype="{{system.price.type}}"/>
                        </li>
                    </ol>

                    {{editor system.description.value target="system.description.value" button=true}}
                </div>

                {{!-- Effects --}}
                <div class="tab" data-group="primary" data-tab="effects">
                    {{> "systems/archmage/templates/items/_item-effect-part.html" effects=effects}}
                </div>
            </div>
        </section>
    </article>
</form>
