<form class="dnd5e item-sheet {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="details">Details</a>
    </nav>

    <div class="sheet-tabs-content">
      <div class="tab" data-group="primary" data-tab="description">
          {{editor system.description.value target="system.description.value" button=true}}
      </div>

      <div class="tab" data-group="primary" data-tab="details">
          <div class="form-group">
              <label>{{system.levels.label}}</label>
              <input type="text" name="system.levels.value" value="{{system.levels.value}}" data-dtype="{{system.levels.type}}"/>
          </div>

          <div class="form-group">
              <label>{{system.subclass.label}}</label>
              <input type="text" name="system.subclass.value" value="{{system.subclass.value}}" data-dtype="{{system.subclass.type}}"/>
          </div>
      </div>
    </div>
</form>
