.section--resources {
  @include borderBottom;
  justify-content: center;
  font-size: $font-xxs;

  .unit {
    position: relative;
    padding: 0 $padding-md;
    margin: 0;
    border-left: 2px solid $ct-border;
    // max-width: 25%;
    flex: 0 0 140px;

    &:first-child {
      border-left: none;
    }
  }

  &[data-resource-count="2"],
  &[data-resource-count="3"],
  &[data-resource-count="4"] {
    .unit:nth-child(6n) {
      border-left: none;
    }

    .unit--custom {
      // max-width: 33%;
    }
  }

  &[data-custom-count="2"],
  &[data-custom-count="3"] {
    .unit:nth-child(5n) {
      border-left: none;
    }

    .unit--custom {
      // max-width: 33%;
    }
  }

  .unit-title {
    font-size: $font-xs;
  }

  input[type="text"],
  input[type="number"] {
    font-size: $font-xs;
  }

  .resource-divider {
    flex: 100%;
    width: 100%;
    height: 2px;
    background: $ct-border;
    margin: $padding-md 0;
  }

  .unit--command-points {
    // flex: 0 auto;
  }

  .unit--ki {
    // flex: 0 auto;
  }

  .unit--custom {
    // flex: 0 auto;
  }

  input.resource-title-input {
    font-family: $font-stack-secondary;
    font-weight: normal;
    font-size: $font-xxs;
  }

  .unit--rest {
    // flex: 0 auto;

    button + button {
      margin-top: $padding-sm;
    }

    button.rest--quick {
      background: $c-power-battle;
      border-color: #dc0000;
      transition: all ease-in-out 0.25s;

      &:hover,
      &:focus {
        background: linear-gradient(22deg, #3c0000, #dc0000, #dc0000);
      }
    }

    button.rest--full {
      background: $c-power-daily;
      border-color: #ababab;

      &:hover,
      &:focus {
        background: linear-gradient(22deg, #01003c, #ababab, #ababab);
      }
    }
  }
}
