@import url("https://use.typekit.net/iui3juu.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$font-stack-base: 'warnock-pro', sans-serif;
$font-stack-secondary: 'mason-serif', 'Nodesto', 'Signika', 'Palatino Linotype', serif;
$font-stack-label: 'Roboto', sans-serif;

// Small.
// $font-sm: 10px;
// $font-m: 14px;
// $font-md: 16px;
// $font-lg: 20px;
// $font-xl: 22px;

// Large.
$font-tiny: 12px;
$font-xxs: 14px;
$font-xs: 16px;
$font-sm: 18px;
$font-md: 20px;
$font-lg: 25px;
$font-xl: 28px;